bin/terraform-provider-aznamingtool
examples/.terraform.rc
examples/terraform.tfstate
# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.pprof
*.trace
.cov
.coverage
.vscode-test/
/vendor/
/Godeps/
/Godeps/Godeps.json
/Godeps/_workspace/
/Godeps/_workspace/src/
/Godeps/_workspace/pkg/
/Godeps/_workspace/bin/
/Godeps/_workspace/pkg/*/github.com/
/Godeps/_workspace/pkg/*/golang.org/
/Godeps/_workspace/pkg/*/google.golang.org/
/Godeps/_workspace/pkg/*/gopkg.in/
/Godeps/_workspace/pkg/*/gopkg.in/check.v1/
/Godeps/_workspace/pkg/*/gopkg.in/yaml.v2/
/Godeps/_workspace/pkg/*/gopkg.in/ini.v1/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v1/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/
/Godeps/_workspace/pkg/*/gopkg.in/urfave/cli.v2/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc/altsrc



*.terraform/
*.tfstate
*terraform.*
*.lock.hcl

*env.sh