

# CONFIGURING THE AZURE ARM VARIABLES

export AZURE_CLIENT_ID="<<YOUR_CLIENT_ID>>"
export AZURE_CLIENT_SECRET="<<YOUR_CLIENT_SECRET>>"
export AZURE_TENANT_ID="<<YOUR_TENANT_ID>>"
export AZURE_SUBSCRIPTION_ID="<<YOUR_SUBSCRIPTION_ID>>"


# CONFIGURING THE AZURE NAMING TOOL VARIABLES

export AZ_NAMINGTOOL_API_KEY="<<YOUR_API_KEY>>"
export AZ_NAMINGTOOL_BASE_URL="<<YOUR_BASE_URL>>"
export AZ_NAMINGTOOL_ADMIN_PASSWORD="<<YOUR_ADMIN_PASSWORD>>"